*{
   padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFEFEF !important;
    
}

/* #content{
    background: none !important;
} */

.mt-16{
    margin-top: 16px !important;
}
.row{
    background: #fff;
}
#header{
    height: 100px;
    background-color: #1994FD;
    align-items: center;
    position: relative;
    z-index: 2;
}

#header .container{
    display: flex;
    max-width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

/* start container logo */
.container .container__logo{
    display: flex;
    align-items: center;
    position: relative;
}

.container .container__logo-text {
	width: 160px;
	height: 72px;
	line-height: 72px;
	font-size: 32px;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.container .container__logo-text:first-child {
	background-color: #1994FD;
	color: #002200;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}


.container .container__logo-text:last-child {
	background-color: #1994FD;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.container .container__logo-text span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.container .container__logo-text:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

/* End container logo */

/* Start Search */

.container .container__search{
    display: flex;
    align-items: center;
    flex: 1;
}

.container__search .search{
    display: flex;
    flex: 1;
    position: relative;
}

.search input{
    margin: 0;
    border: none;
    width: 100%;
    padding: 12px 50px 12px 12px;
    background: #fff;
    border-radius: 4px;
    height: 40px;
    outline: none;
}

.search .search__icon{
    cursor: pointer;
    border: none;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 40px;
    color: #333;
    background-color: #fff;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
}
.search .search__icon:hover{
    opacity: 0.6;
}
/* End container_search */

/* Start container_action */
:root{
    --theme-color: #1a94ff;
}
.container .container__action{
    color: #fff;
    padding: 12px 40px;
    border-radius: 4px;
    grid-gap: 32px;
    margin-left: 32px;
    display: flex;

}

.container__action .login_item{
    display: flex;
    text-align: center;
    /* position: relative; */
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.login_item .login_item__icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: var(--theme-color);
    border-radius: 50%;
    font-size: 24px;
    width: 48px;
    height: 48px;
}

.login_item .login_item__text{
    padding: 0 12px;
    line-height: 48px;
    
}

.container__action .cart_item{
    display: flex;
    text-align: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.cart_item__icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: var(--theme-color);
    border-radius: 50%;
    font-size: 24px;
    width: 48px;
    height: 48px;
}

.cart_item__text{
    padding: 0 12px;
    line-height: 48px;
}

.cart_item__count{
    position: absolute;
    left: 32px;
    top: 16px;
    background: #ffe100;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Start CONTENT */

/* Start Top-content */
/* Start MENU */

#content{
    /* margin-top: 12px; */
    margin-left: 50px;
    margin-right: 50px;
}

#content .wrapper{
    max-width: 100%;
    padding: 12px 16px;
}
/* Start MENU */
#content .top-content{
    display: grid;
    grid-template-columns: 240px 1fr ;
    gap: 12px;
    position: relative;
    /* height: 420px; */
    width: 100%;
}

.top-content .menu{
    border-radius: 6px;
    grid-column: 1/2;
    /* grid-row: 1/3; */
}

.top-content .menu-header{
    height: 36px;
    
}
.menu-header .menu-header-btn{
    text-transform: uppercase;
    border-radius: 6px;
    width: 100%;
    text-align: left;
    border: none;
    background-color: #FFE120;
    padding: 0px 8px;
    cursor: pointer;
}
.menu-header .menu-header-btn:hover{
    opacity: 0.8;
}

.menu-header .menu-header-icon{
    padding: 0 12px; 
    font-size: 16px;
    line-height: 36px;
    
}


.menu-header .menu-header-text{
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
}

.menu .menu-sidebar{
    background-color: #fff;
    /* margin-top: 8px; */
}
.menu-sidebar li{
    list-style-type: none;
    padding: 10px 8px;
    border-bottom: 1px solid #ccc;  
    display: block;
}

.menu-sidebar li:last-child{
    border-bottom: none;
}

.menu-sidebar li:hover{
    background: #f3f3f3;
    cursor: pointer;
}
.menu-sidebar li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 0 12px;
}



/* Start SLIDESHOW */


.top-content .slideshow{
    display: flex;
    grid-column: 2/3;
    /* grid-row: 1/3; */
    /* z-index: 1; */
    /* overflow: hidden; */
    position: relative;

} 

.slideshow .slideshow-container{
    width: 100%;
    /* margin-top: 4px; */
    /* min-width: 500px; */
}


.slideshow .mySlides img{
    width: 100%;
    height: 420px;
}

.slideshow .fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.slideshow .dot-slide{
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #1a94ff;
  }

  /* END SLIDESHOW */

/* Start PRODUTCT */

.product .product-title{
    padding: 12px;
    font-size: 20px;
    text-transform: uppercase;
    background: #1994FD;
    font-weight: 700;
    color: #fff;
}

.mt-20{

    margin-top: 20px;
}

.mb-20{

    margin-bottom: 20px;
}

.product .container{
    /* margin-left:    70px ;
    margin-right: 70px; */
    width: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img{

    width: 350px;
}

.star{
        color: red;
}

.bg-cart {
	margin-bottom:10px;
    background-color:orange;
    color:#fff;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {
    
    color:#fff;
}

a{

    text-decoration: none !important;
}

/* Start Pagination */
#content .pagination{
    justify-content: center;
}

/* FOOTER */
#footer{
    background: #fff;
}

#footer .top-footer{
    border-bottom: 1px solid #f2f2f2 ;
    /* max-width: calc(100% - 6.2rem); */
}

#footer .service-footer {
    margin: 0 !important;
    padding: 0 70px !important;
}
#footer .top-footer i{
    --size: 3rem;
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 1rem;
    display: flex;
    width: var(--size);
    height: var(--size);
    align-items: center;
    justify-content: center;
    background: var(--theme-color);
    color: #fff;
    border-radius: 50%;
}

#footer .top-footer .info b{
    display: block;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
}

#footer .top-footer [class*="col"]{
    display: flex;
}

#footer .service-padd{
    padding: 16px 0;
}

.rest-footer{
    padding: 16px 70px ;
}

.rest-footer .title{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}
.rest-footer .title::after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background: var(--theme-color);
    margin-top: 5px;
}

.rest-footer .showroom .item:not(:last-child){
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px dashed rgba(0,0,0,.12);
}

.showroom .item{
    margin-top: 16px;
}
.item p{
    margin-bottom: 0;
}

.showroom .name {
    text-transform: uppercase;
    font-weight: 500;
}



.social-link a{
    font-size: 32px;
    padding: 4px 8px;
}

.rest-footer .menu-info,
.rest-footer .menu-policy{
    list-style: none;
}

.rest-footer .menu-info li,
.rest-footer .menu-policy li{
    margin-bottom: 6px;
}

.item .group{
    font-weight: bold;
}

.item .tel{
    font-weight: 700;
    color: red;
    font-size: 16px;
}
/* END FOOTER */

/* CSS - DETAIL PRODUCT */

#content .detail-product .container,
#content .container-detailPage{
    padding: 0 !important;
    margin: 0   !important;
    max-width: 100%;
}

/* Start breadcrumb */
#content .breadcrumb {
    display: flex;
    width: 100%  ;
    color: #333;
    margin-bottom: 0;
}

#content .breadcrumb a{
    display: flex;
    font-weight: 400;   
    color: #999;
    align-items: center;
}

#content .breadcrumb i{
    display: flex;
    align-items: center;
    color: #999;
    margin: 0 8px;
}


/* Start DETAIL-PRODUCT - chi tiết sp */
#content .detail-product{
    margin-bottom: 24px;
}

.detail-product .intro-detail{
    background: #fff ;
    display: flex;
    padding: 16px;
}

/* LEFT */

.detail-product .left-intro-detail{
    max-width: 34%;
    flex: 0 0 34%;
}

.detail-product .left-intro-detail img{
    width: 100%;
    height: 100%;
}

/* MID */
.detail-product .mid-intro-detail{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    gap: 16px;
}   

.mid-intro-detail .title{
    font-size: 24px;
    font-weight: 500;
}

.mid-intro-detail .des-price{
    background: #efefef;
    padding: 16px 12px;
    
}

.mid-intro-detail .des-price .price-item{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.price-item .label{
    display: block;
    width: 120px;
}

.price-item .price{
    margin-left: 16px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
    color: #ccc;
}

.price-item .highlight-price{
    font-weight: 700;
    font-size: 32px;
    color: #d10a00;
    text-decoration: none;

}


/* Quantity - số lượng */
.quantity{
    display: flex;
    height: 40px;
    width: 100%;
}
.quantity input{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 4px 12px;
    text-align: center;
    font-size: 16px;
    width: 36px;
}
.quantity input:first-child{
    border-radius: 4px 0 0 4px;
    border-right: none;
   
}

.quantity input:last-child{
    border-radius: 0 4px 4px 0;
    border-left: none;
}

#output-area{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 50px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cart .btn-add,
.cart .btn-buy{
    margin-top: 16px;
    border: none;
    width: 100%;
    padding: 16px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.cart .btn-buy{
    background: #e00;

}
.cart .btn-buy:hover{
    opacity: 0.7;
}

.cart .btn-add{
    background: #0664f9;
    
}




.right-intro-detail .desc-right-intro-detail{
    border: 1px solid  rgba(0,0,0,.12);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
}
.right-intro-detail .title{
    font-size: 16px;
    color: #1a94ff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}

.desc-right-intro-detail .list-content{
    list-style: none;
}

.desc-right-intro-detail .list-content{
    margin-bottom: 0;
}

.desc-right-intro-detail .list-content li{
    margin-bottom: 4px;
    display: block;
}

/* Mô tả sản phẩm */
.desc-detail{
    margin-top: 20px;
    background: #fff;
}
.desc-detail .intro-product{
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.desc-detail .product-description{
    margin-left: 16px;
}

.desc-detail .title-description{
    font-size: 18px;
    margin-bottom: 12px ;
    padding-top: 16px;
    font-weight: bold;
}

.desc-detail h3{
    font-size: 16px;
    font-weight: bold;
}

.desc-detail p:last-child{
    padding-bottom: 16px;
}


/* Shopping cart DELETE BUTTON */
#content .btn-del{
		border: none; 
		background: #fff; 
		color: red; 
		padding-right: 32px;
		
	}
#content .btn-del:hover{
	opacity:0.6;
}	
